<!DOCTYPE html>
<html>

<head>
  <title>population stuff</title>

  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
  <svg width="960" height="600" id="stuff"></svg>
  <script type="text/javascript" src="{{url_for('static', filename='js/d3.v4.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/topojson.v2.min.js')}}"></script>
  <!--
  <script async defer
	  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBD1ka6WtRJHy_n31DRRG2ZEMMJAYBhdWI&callback=getCoordinates">
  </script>
-->
  <script type="text/javascript" src="{{url_for('static',filename='js/map.js')}}"></script>

</body>
