<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}"/>

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap-slider.min.css')}}">

    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">

    <title>US Pop(ulation) Culture</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Article I Section II</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" id="super-link">Now Viewing:
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <svg width="960" height="600" id="stuff"></svg>
    </div>

    <div class="wrapper text-center" id="btn-wrapper">
      <div class="btn-group">
        <button id="b1" class="btn btn-lg btn-outline-success">Play</button>
        <button id="b2" class="btn btn-lg btn-outline-success">Pause</button>
      </div>
      <div>
        <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="22" data-slider-step="1" data-slider-value="0"/>
      </div>
    </div>
    
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.slim.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-slider.min.js') }}"></script>

    <script type="text/javascript" src="{{url_for('static', filename='js/d3.v4.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/topojson.v2.min.js')}}"></script>

    <script type="text/javascript">
      var myData = JSON.parse({{data|tojson|safe}});
      var myCoords = JSON.parse({{coords|tojson|safe}});
    </script>
    
    <script type="text/javascript" src="{{url_for('static',filename='js/map2.js')}}"></script>
  </body>
</html>